.bg {
  background-image: url("../assets/img/whitebg.jpg");
  background-size: auto;
  min-height: 100vh;
}
h1 {
  text-align: center;
  padding-top: 20px;
  margin-top: 0;
}
.flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.my-form {
  width: 1000px;
  text-align: left;
  padding: 30px;
}
.flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #E6E6FA;
  border-radius: 10px;
  margin: 10px;
}
.center-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.box {
  margin: 20px;
  padding: 10px;
  border-left: darkgray dashed 1px;

}
.test-box {
  background-color: #FFF5EE;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
}
.tips {
  background-image: url("../assets/img/woodbg.jpg");
  border-top: #E6E6FA dotted 8px;
  border-bottom: #E6E6FA dotted 8px;
  color: saddlebrown;
  margin: 10px;
  padding: 20px 20px 30px 20px;
}

